.d-flex{
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-content-center{
  display: flex;
  justify-content: center;
}

.justify-content-between{
  display: flex;
  justify-content: space-between;
}

.align-items-center{
  display: flex;
  align-items: center;
}

.g-1{
  gap: var(--base-unit);
}

.g-2{
  gap: calc(var(--base-unit) * 2);
}


